*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.footer{
    height:70px;
    background-color: #0060A4;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}