*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* signup page  */
.SignUpDiv{
  display:flex;
  line-height:40px;
  align-items: center;
  justify-content:center;
}
.signupinner{
  margin-top:20px;
  display:flex;
  align-items: center;
  box-shadow:0 0 10px rgba(0 , 0, 0, 0.1);
  border-radius:12px;
  background-color: white;
  margin:30px;
}
/* form div from Auth ------------------- */
.formdiv{
  display:flex;
  flex-direction: column;
  justify-content:center;
}
.signbtn{
  background-color: black;
  color:white;
  padding:0 5px;
  border-radius:8px;
  height: 30px;
}
/* form  */
.signupform{
  display: flex;
  flex-direction: column;
  padding:20px;
  margin-top:20px ;
  justify-content: center;
  align-items: center;
}
.image{
  border-radius:12px 0 0 12px;
  height:662px;
  width:400px;
}
/* Signup heading */
h1{
  text-align:center;
}
/* welcome text */
.welcometxt{
  text-align: center;
}
.signUpWithGoogle{
  width:350px;
  padding:10px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid grey;
  /* position:absolute; */
  cursor:pointer;
}
.hrdiv{
  margin-top:10px;
  position:relative;
  height:40px;
  width:100%;
}
.hr{
  width:100%;
  position:absolute;
  border-bottom:2px solid grey;
  top:50%;
  left:0;
}
.hrtext{
  background-color:white;
  position:absolute;
  transform:translateX(-50%);
  left:50%;
  width:40px;
  height:30px;
  text-align: center;
}
input{
  padding:10px;
  border-radius: 4px;
  border: 2px solid grey;
  text-decoration:black;
  width:100%;
}
.Labeldiv{
  width:100%;
}
.namediv{
  display:flex;
  justify-content: space-between;
  width:100%;
}
.firstnamediv{
  display:flex;
  flex-direction:column;
}
.nameinput{
  width:160px;
}
.lastnamelabel{
  margin-left:5px;  
}
.signupbtn{
  margin-top:20px;
  padding:13px;
  background-color: #0060A4;
  color:white;
  border-radius: 4px;
  border:none;
  width:100%;
}
.signupbtn:hover{
  background-color: black;
}
.logindiv{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:5px;
  gap:10px;
  padding-bottom: 10px;

}
a{
  text-decoration:none;
  margin-left:10px;
  color:#0060A4;
}

@media(max-width:830px){
.image{
  display:none;
}
}
@media(max-width:425px) and (min-width:280px){
  .signupinner{
    width: 80%;
    justify-content: center;
  }
  .signupform{
    width: 100%;
  }
  h1{
    font-size:20px;
  }
  p{
    font-size:14px;
  }
  .signUpWithGoogle{
    width: 100%;
  }
  .signUpWithGoogle span{
    font-size:13px;
  }
  .namediv{
    flex-direction:column;
  }
  .nameinput{
    width:100%;
  }
  .logindiv span{
    font-size:14px;
  }
  .welcometxt{
    font-size:15px;
  }
  }

/* login page  */