*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.bookingdiv{
    min-height:100vh;
    display: flex;
    justify-content: center;
}

.bookingform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px 0;
    width: 550px;
}
.bookingform h3{
    text-align: left;
    width:100%;
    padding:20px 0;
    font-size: 25px;
    text-align: left;
}
.bookingtitle,.bookingUrl,.duration{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding:20px 0;
    gap:5px;
}
.bookingdescription{
    padding:20px 0 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap:5px;
    border-bottom: 1px solid grey;
}
.bookingtitle input,.bookingdescription textarea,.bookingUrl input{
    width:100%;
    padding:19px;
    border:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline:none;
}
.duration input{
    padding:10px;
    border:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline:none;
    width:100px;
    margin-right:10px;
}
/* buttons  */
.button{
    width:100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding:30px 0;
    border-bottom: 1px solid grey;
}
.Cancel{
    padding:10px;
    background:none;
    color:rgb(0, 102, 255);
    border: none;
}
.Add_booking{
    padding:5px;
    background-color: rgb(0, 123, 255);
    color:white;
    border: none;
    border-radius: 4px;
}
.question{
    width:100%;
    text-align: left;
    padding-bottom: 10px;
}
.availibility{
    display: flex;
    padding:20px;
    gap:5px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.weeklymsg{
    width:100%;
    padding:20px 0;

}
.days{
    width:100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding:5px;
    background-color: white;

}
.days div{
    padding:34px;
    display:flex;
    gap:5px;
    border-bottom:1px solid grey;
    background-color: white;
}
.unavailabledays{
    width:100%;
    background-color: white;
    margin-top: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding:5px;
    border-radius:5px;
}
.unavailabledays span{
    margin-left:10px;
}
.unavailabledays p{
    /* margin-top:10px; */
    font-size:12px;
    color:grey;
}


