*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.card{
    height: 380px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    display:flex; 
    flex-direction: column;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius:20px;
    /* padding:0 20px; */
    line-height: 30px;
}
.card h3{
    padding:10px 0;
    padding-left:20px;
    
}
.linkdiv{
    display:flex;
    justify-content: space-between;
    margin:5px 0;
    border-top:1px solid rgb(221, 220, 220);
    padding:0 20px;
}
.linkdiv a{
    text-decoration: none;
    color:#0060A4;
}
.status{
    display:flex;
    gap:50px;
}
.status span{
    margin-left:20px;
}
/* slider button  */
.slidebtndiv{
    position:absolute;
}
.slider{
    background-color: grey;
    position:relative;
    width: 46px;
    height: 24px;
    outline:none;
    border-radius:40px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    -webkit-appearance:none;
    border:none;
}
.slider:checked{
    background-color: rgb(23, 153, 240);
}
.slider:before{
    content: "";
    position:absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top:0;
    left:0;
    background-color: white;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.slider:checked:before{
    /* left:100%; */
    transform: translateX(100%);
}
.slider{
    margin-left:20px;
}
/* description  */
.description{
    padding:20px 0;
    margin:5px 0;
    overflow-y: scroll;
    height:100px;
    border-top:1px solid rgb(221, 220, 220);
    border-bottom:1px solid rgb(221, 220, 220);
}
.description p{
    padding:0 20px;
}
.share{
    display:flex;
    align-items: center;
    gap:22px;
    border-bottom:1px solid rgb(221, 220, 220);
    padding:10px 0;
}
.share h4{
    padding-left:20px;
    color:grey;
}
.share a{
    text-decoration: none;
}
.share a i{
font-size:19px;
color:grey;
}
.editdiv{
    display:flex;
    justify-content: space-between;
    margin-top: auto;
    padding:20px;   
}
.editdiv a{
    text-decoration: none;
}
.edit{
    color:#0060A4;

}
.delete{
    color:red;
}
