*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h3{
    width: 730px;
    padding: 30px 0;
    font-size: 25px;
    text-align: left;
    margin: auto;
}
.tablerow{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width:730px;
  }
.tablerow tr{
    border-bottom: 1pt solid grey;
}
.tablerow th{
    color:grey;
}
.tablerow td{
    padding:25px 0;
    text-align: center;
}
.myschedule{
    margin:80px 0;
    width:80%;
    margin-inline: auto;
    min-height: 75vh;
}
.day{
    font-weight: bold;
}
.meetingtype,.with{
    color:rgb(0, 102, 255);
}
.status{
    display: flex;
    justify-content: center;
}
.statusbtn{
background-color: green;
color:white;
border-radius: 20px;
padding: 5px;
border: none;
width: 100px;
font-size:16px;
}
.actionbtn{
    color:red;
    margin-right:5px;
}



@media(max-height:768px) and (min-height:425px){
  
}
